body{
    display: grid;
    justify-content: center;
    background-color: rgb(189, 219, 219);
    font-size: 20px;    
}
h1{
    margin: auto;
}
input{
    margin: auto;
    padding: 15px;
    width: 60px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 15px;
}
#resultado{
    color: black;
    background-color: greenyellow;
}
#novo{
    color: black;
    background-color: rgb(156, 201, 232);
}